@import './assets/variables.css';
@import './assets/globals.css';

#root,
.ss-wrapper {
	height: 100%;
}

@keyframes rotate {
	0% {
		transform: scale(1) rotate(0);
	}

	100% {
		transform: scale(1) rotate(360deg);
	}
}

@keyframes rotate-reversed {
	0% {
		transform: scale(1) rotate(0);
	}

	100% {
		transform: scale(1) rotate(-360deg);
	}
}

@keyframes show-content {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.ss-wrapper {
	display: flex;

	&.loaded {
		& .ss-container {
			& .ss-content {
				animation: show-content 1s 1 forwards ease .3s;
			}

			& .ss-github {
				transform: translateY(0);
				opacity: 1;
				transition-delay: 1s;
			}
		}
	}

	& .ss-container {
		margin: auto;
		width: 100%;
		padding-top: 200px;
		box-sizing: border-box;

		& .ss-header {
			text-align: center;
			width: 100%;
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: all .5s ease;

			&.loaded {
				top: 0;
				transform: translate(-50%, 0);

				& .ss-logo {
					& .ss-first,
					& .ss-second {
						animation: none;
						left: -18px;
					}

					& .ss-first {
						top: 42px;
						transform: rotate(0deg) scale(.5);
					}

					& .ss-second {
						transform: rotate(0deg) scale(.5);
						top: 67px;
					}

					& .ss-name {
						opacity: 1;
						transform: translateX(0);
						transition: all 1s ease;
						transition-delay: .3s;
					}
				}
			}

			& .ss-logo {
				cursor: pointer;
				width: 200px;
				height: 200px;
				position: relative;
				margin: auto;
				transition: all .5s ease;

				&:hover {
					transform: scale(1.05);
				}

				& .ss-first,
				& .ss-second,
				& .ss-name {
					position: absolute;
					animation-fill-mode: forwards;
					left: 0;
					transition: all .5s ease;
				}

				& .ss-name {
					opacity: 0;
					top: 92px;
					left: 56px;
					transform: translateX(30px);
					transition-delay: 0s;
				}

				& .ss-first,
				& .ss-second {
					top: 54px;
					transform-origin: center center;
				}

				& .ss-first {
					left: 28px;
					animation: rotate 1s infinite forwards ease;
				}

				& .ss-second {
					animation: rotate-reversed 1s infinite forwards ease;
					left: 80px;
				}
			}
		}

		& .ss-content {
			max-width: 640px;
			width: calc(100% - 40px);
			margin: 0 auto 20px;
			background: var(--light-blue);
			display: flex;
			box-sizing: border-box;
			padding: 0;
			border-radius: 10px;
			border: solid 1px var(--medium-blue);
			transition: all .5s ease;
			opacity: 0;
			transform: translateY(30px);
			transition-delay: 1s;

			@media (--screen-mobile) {
				margin: 20px;
				width: calc(100% - 40px);
			}

			& section {
				flex-basis: 50%;
				box-sizing: border-box;
				padding: 0px;
				
				&:first-child {
					border-right: solid 1px var(--medium-blue);
				}

				& div {
					box-sizing: border-box;
					padding: 10px 20px;
					width: 100%;
					border-bottom: solid 1px var(--medium-blue);
					vertical-align: middle;
					font-size: var(--small-font-size);
					color: var(--medium-gray);

					@media (--screen-mobile) {
						padding: 10px;
					}

					& h2 {
						color: var(--black);
					}

					& em {
						font-style: normal;

						@media (--screen-mobile) {
							display: none;
						}
					}

					&.ss-time {
						width: 100%;
						flex-basis: 100%;
						color: var(--dark-blue);
						font-size: var(--small-font-size);
						border-bottom: none;
					}

					& i {
						vertical-align: middle;
						font-style: normal;
						font-size: var(--smaller-font-size);
						float: right;
						display: inline-block;
						color: var(--dark-blue);
						box-sizing: border-box;
						padding: 2px 0;

						&:after {
							content: '';
							display: inline-block;
							width: 12px;
							height: 12px;
							border-radius: 50%;
							background: var(--black);
							vertical-align: middle;
							margin: 2px 0 3px 5px;
						}

						&.online {
							&:after {
								background: var(--success-color);
							}
						}

						&.down,
						&.offline {
							&:after {
								background: var(--error-color);
							}
						}
					}
				}
			}
		}

		& .ss-github {
			text-align: center;
			margin: 0 0 20px 0;
			transition: all .5s ease;
			transition-delay: 0s;
			transform: translateY(-20px);
			opacity: 0;

			& a {
				transition: all .5s ease;

				& svg {
					width: 24px;
				}

				&:hover {
					& svg {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}