@import './assets/variables.css';
@import './assets/globals.css';

#root,
.ss-wrapper {
	height: 100%;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate-reversed {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(-360deg);
	}
}

@keyframes show-content {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.ss-wrapper {
	display: flex;

	&.loaded {
		& .ss-container {
			& .ss-content {
				animation: show-content 1s 1 forwards ease .3s;
			}
		}
	}

	& .ss-container {
		margin: auto;
		width: 100%;
		padding-top: 200px;
		box-sizing: border-box;

		& .ss-header {
			text-align: center;
			width: 100%;
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: all .5s ease;

			&.loaded {
				top: 0;
				transform: translate(-50%, 0);

				& .ss-logo {
					width: 275px;

					& .ss-first,
					& .ss-second,
					& .ss-name {
						animation: none;
						left: 0;
					}

					& .ss-first {
						top: 25px;
						transform: rotate(90deg) scale(.6);
					}

					& .ss-second {
						transform: rotate(90deg) scale(.6);
						top: 52px;
					}

					& .ss-name {
						opacity: 1;
						top: 87px;
						left: 96px;
						transition: all 1s ease;
						transition-delay: .3s;
					}
				}
			}

			& .ss-logo {
				cursor: pointer;
				width: 204px;
				height: 200px;
				position: relative;
				margin: auto;
				transition: all .5s ease;

				&:hover {
					transform: scale(1.05);
				}

				& .ss-first,
				& .ss-second,
				& .ss-name {
					position: absolute;
					animation-fill-mode: forwards;
					left: 0;
					transition: all .5s ease;
				}

				& .ss-name {
					opacity: 0;
					left: 116px;
				}

				& .ss-first,
				& .ss-second {
					left: 20px;
					transform-origin: center center;
				}

				& .ss-first {
					top: 40px;
					left: 20px;
					animation: rotate 1s infinite forwards ease;
				}

				& .ss-second {
					animation: rotate-reversed 1s infinite forwards ease;
					top: 30px;
					left: 70px;
				}
			}
		}

		& .ss-content {
			max-width: 640px;
			width: calc(100% - 40px);
			margin: 0 auto 20px;
			background: var(--light-blue);
			display: flex;
			box-sizing: border-box;
			padding: 0;
			border-radius: 10px;
			border: solid 1px var(--medium-blue);
			transition: all .5s ease;
			opacity: 0;
			transform: translateY(30px);
			transition-delay: 1s;

			@media (--screen-mobile) {
				margin: 20px;
				width: calc(100% - 40px);
			}

			& section {
				flex-basis: 50%;
				box-sizing: border-box;
				padding: 0px;
				
				&:first-child {
					border-right: solid 1px var(--medium-blue);
				}

				& div {
					box-sizing: border-box;
					padding: 10px 20px;
					width: 100%;
					border-bottom: solid 1px var(--medium-blue);
					vertical-align: middle;

					&.ss-time {
						width: 100%;
						flex-basis: 100%;
						color: var(--dark-blue);
						font-size: var(--small-font-size);
						border-bottom: none;
					}

					& i {
						vertical-align: middle;
						font-style: normal;
						font-size: var(--smaller-font-size);
						float: right;
						display: inline-block;
						color: var(--dark-blue);
						box-sizing: border-box;
						padding: 2px 0;

						&:after {
							content: '';
							display: inline-block;
							width: 12px;
							height: 12px;
							border-radius: 50%;
							background: var(--black);
							vertical-align: middle;
							margin-left: 5px;
						}

						&.online {
							&:after {
								background: var(--success-color);
							}
						}

						&.offline {
							&:after {
								background: var(--error-color);
							}
						}
					}
				}
			}
		}
	}
}